  <h4 class="mb-3">Firma</h4>
  <form class="needs-validation" novalidate>
    <div class="mb-3">
      <label for="companyName">Recipient</label>
      <input [(ngModel)]="currentCompany.companyName" name="companyName" type="text" class="form-control" id="companyName" placeholder="" value="" required>
      <div class="invalid-feedback">
        Please enter recipient
      </div>
    </div>

    <div class="mb-3">
      <label for="companyAddress">Adress</label>
      <input [(ngModel)]="currentCompany.companyAddress" name="companyAddress"  type="text" class="form-control" id="companyAddress" placeholder="" value="" required>
      <div class="invalid-feedback">
        Please enter address
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 mb-3">
        <label for="companyZip">Postcode</label>
        <input [(ngModel)]="currentCompany.companyZip" name="companyZip"  type="text" class="form-control" id="companyZip" placeholder="" value="" required>
        <div class="invalid-feedback">
          Postcode required
        </div>
      </div>
      <div class="col-md-9 mb-3">
        <label for="companyCity">City</label>
        <input [(ngModel)]="currentCompany.companyCity" name="companyCity"  type="text" class="form-control" id="companyCity" placeholder="" value="" required>
        <div class="invalid-feedback">
          City required
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 mb-6">
        <label for="companyEmail">Email</label>
        <input [(ngModel)]="currentCompany.companyEmail" name="companyEmail"  type="text" class="form-control" id="companyEmail" placeholder="" value="">
      </div>
      <div class="col-md-6 mb-6">
        <label for="companyFax">Fax</label>
        <input [(ngModel)]="currentCompany.companyFax" name="companyFax"  type="text" class="form-control" id="companyFax" placeholder="" value="">
      </div>
    </div>


    <div class="mb-3">
      <label for="companyCountry">Country</label>
      <input [(ngModel)]="currentCompany.companyCountry" name="companyCountry"  type="text" class="form-control" id="companyCountry" placeholder="" value="">
    </div>
    <div class="mb-3">
      <label for="contractNumber">Contract Number, Bank Account Number, etc. (optional)</label>
      <input [(ngModel)]="currentCompany.contractNumber" name="contractNumber"  type="text" class="form-control" id="contractNumber" placeholder="File Number, Phone Number, Contract Number" value="">
    </div>


    <div class="mb-3">
      <label for="remarks">Further Remarks (optional)</label>
      <textarea [(ngModel)]="currentCompany.remarks" name="remarks"  class="form-control" id="remarks" placeholder="e. g. related to previous letter"></textarea>

    </div>

    <hr class="mb-4">
    <h4 class="mb-3">{{letter.titleText}}</h4>
    <span [hidden]="letter.rawText">
      <div class="float-right">{{getDate()}}</div><br />
      <p *ngIf="currentCompany.contractNumber">Subject: {{currentCompany.contractNumber}}</p>

      <p>{{letter.introText}}</p>

      <div class="custom-control custom-checkbox" *ngFor="let textblock of letter.textblocks">
        <input [(ngModel)]="textblock.selected" name="{{textblock.name}}" type="checkbox" class="custom-control-input" id="{{textblock.name}}">
        <label class="custom-control-label" for="{{textblock.name}}">{{textblock.content}}</label>
      </div>

      <p>{{letter.endClause}}</p>
    </span>
    <span [hidden]="!letter.rawText">
      <textarea [(ngModel)]="letter.rawText" name="rawText"  class="form-control" id="rawText" style="height: 25em;"></textarea>
    </span>

    <hr class="mb-4">
    <div class="container">
      <div class="row">
        <div class="col-sm"><button (click)="saveCompany()" class="btn btn-primary btn-lg btn-block" type="submit">Save</button></div>
        <div class="col-sm"><button (click)="editText()" class="btn btn-secondary btn-lg btn-block" type="submit">Edit Text</button></div>
      </div>
    </div>

  </form>
